<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <appSettings>
    <!-- write log messages to the console. -->
    <!--add key="EFTracingProvider.logToConsole" value="true" /-->
    <!-- append log messages to the specified file -->
    <!--add key="EFTracingProvider.logToFile" value="ProjectsContext.txt" /-->
  </appSettings>
  <connectionStrings>

    <add name="TLDbContext" connectionString="Data Source=.;Integrated Security=SSPI;Initial Catalog=Succinctly;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="TLDbContextOracle" connectionString="Data Source=localhost:1521/orcl;Password=succinctly;User Id=succinctly;" providerName="Oracle.DataAccess.Client" />

  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <contexts>
      <!--context type="Succinctly.Model.ProjectsContext, Succinctly.Model">
				<databaseInitializer type="System.Data.Entity.CreateDatabaseIfNotExists`1[[Succinctly.Model.ProjectsContext, Succinctly.Model]], EntityFramework"-->
      <!-- only required if the initializer constructor receives parameters -->
      <!--parameters>
					<parameter value="MyConstructorParameter" type="System.Int32" />
				</parameters-->
      <!--/databaseInitializer>
			</context-->
      <context type="TimeLogger.Model.TLDbContext,TimeLogger.Model" disableDatabaseInitialization="true"/>
    </contexts>

  </entityFramework>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>